<a href="https://colab.research.google.com/github/Nequiz319/CYPG11572022/blob/main/Fundametos2_CYP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tipos de dato estructurado

1. Listas
2. Truplas
3. Ciccionarios
4. Conjuntos(opcional)

# Listas
- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (undexados empezando por 0)
- Se declara de 2 formas#
     - usando []
     - usando list()
     - usando un generador
- Puede contener tipos de datos diversos ( En otros lenguajes de programaci√≥n esto no es posible de forma directa)
- Los elemntos internos se selccionas con []
- Soporta slicing
- Generadores [var for x in range ( 10 )]
- Son mutables

In [ ]:
lista = [10, 5, 2, 6, 3]
print(lista)

lista2 = list()
lista2.append(10)
lista2.append(5)
lista2.append(2)
lista2.append(15)
lista2.append(22)
print(lista2)
lista[2] = 20
print(lista)
lista[3] = 8
print(lista)
lista[-1] = 15
print(lista)

[10, 5, 2, 6, 3]
[10, 5, 2, 15, 22]
[10, 5, 20, 6, 3]
[10, 5, 20, 8, 3]
[10, 5, 20, 8, 15]

In [ ]:
# tipos diversos

cosas = [12, 2, True, "Adriana", 1.54, ["pera", "kiwi", "uva"]]
print(cosas)
print(cosas[1])
print(cosas[ 4 ])
print(cosas[ 5 ])
print(cosas[ 5][1])
print(cosas[ 3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Adriana', 1.54, ['pera', 'kiwi', 'uva']]
2
1.54
['pera', 'kiwi', 'uva']
kiwi
dr
[12, 2, True, 'ADRIANA', 1.54, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(numeros)
#slicing
# 1.- 4 al 8
print( numeros[3:8] ) 
# 2: [9,10]
print( numeros[8:10] )
print( numeros[-3:-1] )
#3:.- imprimir la lista en orden inverso
print( numeros[::-1] )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros = [x*3 for x in range(101)]
print(numeros)
numeros = [x for x in range(101)]
print(numeros)
numeros = [x for x in range(1001)]
print(numeros)
numeros = [x for x in range(50, 101)]
print(numeros)
numeros = [x for x in range(50, 101, 5)]
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# funci√≥n range()

tiene los mismo componentes que slicing
inicio, stop, incremento
range(1, 101, 1)

#metodos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [ 4, 1, 15, 8, 22, 72, 28]
print(numeros)
numeros.append(99)
print(numeros)
#numeros.clear()
#alternativa
numeros = []

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas
print( frutas )
print( copia )
frutas.append("fresa")
print( frutas )
print( copia ) #copia de referencia


colores = ["rojo", "azul", "verde"]
copia2 = colores.copy()
print( colores )
print( copia2 )
colores.append("cafe")
print( colores )
print( copia2 )
numeros = [ 4, 1, 15, 8, 22, 72, 28]
print(numeros)


numeros.append(99)
print("Numero de veces que aprece el 72=", numeros.count(72))

#estend
nombres = ["Jose", "pedro", "jesus"]
otrosNombres = ["Josue", "diana", "dennis"]
print(nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print(nombres)
print(otrosNombres)

#lo mismo con el m√©todo extend
otrosNombres.extend(["Jesus", "Maria", "Jose"])
print(otrosNombres)
print("Jesus esta en la posicion: ", otrosNombres.index("Jesus"))
otrosNombres.insert(5, "Espiritu santo")
print(otrosNombres) #insertar en una posicion especifica

# pop
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 72, 28]
[4, 1, 15, 8, 22, 72, 28, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'fresa']
['uvas', 'kiwi', 'manzana', 'fresa']
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde']
['rojo', 'azul', 'verde', 'cafe']
['rojo', 'azul', 'verde']
[4, 1, 15, 8, 22, 72, 28]
Numero de veces que aprece el 72= 1
['Jose', 'pedro', 'jesus']
['Josue', 'diana', 'dennis']
['Jose', 'pedro', 'jesus', 'Josue', 'diana', 'dennis']
['Josue', 'diana', 'dennis']
['Josue', 'diana', 'dennis', 'Jesus', 'Maria', 'Jose']
Jesus esta en la posicion:  3
['Josue', 'diana', 'dennis', 'Jesus', 'Maria', 'Espiritu santo', 'Jose']
['Josue', 'diana', 'dennis', 'Jesus', 'Maria', 'Espiritu santo']
Jose

#Tuplas

### Carater√≠ticas de las ruplas
- Datos agrupados.
- Se declara usando#
     - ()
     - tuple()
-Estructura secuencials, indexada apartir de 0.
- Pueden tener 0 a n elemnetos.
- No son mutables (no se puede: eliminar y/o cambiar).
- Son buena spara almacenar informaci√≥n de consulta. 
- Pueden almacenar informaci√≥n de diferentes tipos de datos.
- Pueden estar anidadas.
- Tienen metodos √∫tiles

In [ ]:
info =("Adriana45", "Nequiz67", "123.232.1.12" )
print( info )
print( info[ 1 ] )
#info [ 1 ]= "patio23"

numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
print(numeros)
print(numeros[5:11])#solo sirve de consulta la informaci√≥n, no se puede modificar

cosas = ( info , numeros )
print( cosas )
print( cosas [1][5:11])
print( cosas [0][2][4:7])
print( cosas [0][2][-8:-5]) #indexado negativo

('Adriana45', 'Nequiz67', '123.232.1.12')
Nequiz67
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('Adriana45', 'Nequiz67', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# metodos de las tuplas
Son los mismos de las listas pero que no involucren la mutabilidad.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionario
### Caracteristicas de los diccionarios

- Agrupan datos pero de forma no lineal.
-Se declaran con#
      - {}
      - dict()
- Formato por partes del tipo de llave: valor, donde:
      - llave es de tipo String(siempre)
      - valor puede ser de cualquier tipo de datos, incluyendo los diccionarios.
- Se selecionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son equivalentes al tipo de dato JSON del lenguaje  JavaScript(JS)

In [ ]:
alumno = {"nombre" : "Adriana"}
print(alumno)
print(alumno["nombre"])
alumno = {"nombre": "Adriana", "nc":"3190263000","edad":18 }
print("Edad del alumno = ", alumno["edad"])
print(alumno["nombre"].upper())


alumno2 = dict()#{}
alumno2["nombre"] = "Adriana"
print(alumno2)
alumno2["nc"] ="3190263000"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Adriana'}
Adriana
Edad del alumno =  18
ADRIANA
{'nombre': 'Adriana'}
{'nombre': 'Adriana', 'nc': '3190263000', 'edad': 18}
{'nombre': 'Adriana', 'nc': '3190263000', 'edad': 19}

In [ ]:
cliente ={ "id":"CT2121", #diccionario
          "nombre":"Adriana", 
          "Telefonos":"cel=5526181819 casa=15585776"}
print(cliente)
cliente ={ "id":"CT2121",
          "nombre":{
              "nombre_pila" : ["Adriana"],
              "paterno" : "Nequiz", 
              "materno" : "Gonzalez"
          }, 
          "Telefonos":{
              "casa" : "15585776", 
              "celular" : "5527292918",
              "trabajo" : "04416572934"
          }, 
          "productos":{
              "Ahorros":{"num_cuenta":"7790", "Ahorros":3500.7 },
              "Tarjetas":[
                           {"tipo":"debito", "saldo": 10000.5},
                           {"tipo":"creditopreferente", "limite": 250000.80},
                           {"tipo":"lite", "limite": 15000.5}
              ], 
               }, 
          "direccion":{
                  "calle":"av.central",
                  "numero": 14,
                  "colonia": "impulsora",
                  "delegacion": "neza",
                  "estado": {
                      "clave": 15,
                      "nombre_corto":"Edomex",
                      "nombre":"Estado de Mexico"
                  }
              }
          }
           
print( cliente["productos"]["Ahorros"]["Ahorros"] )
print(cliente)
print( cliente["productos"]["Tarjetas"][-1]["limite"] )
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["Ahorros"]["Ahorros"] = cliente ["productos"]["Ahorros"]["Ahorros"]- 1500
print(cliente["productos"]["Ahorros"]["Ahorros"])

{'id': 'CT2121', 'nombre': 'Adriana', 'Telefonos': 'cel=5526181819 casa=15585776'}
3500.7
{'id': 'CT2121', 'nombre': {'nombre_pila': ['Adriana'], 'paterno': 'Nequiz', 'materno': 'Gonzalez'}, 'Telefonos': {'casa': '15585776', 'celular': '5527292918', 'trabajo': '04416572934'}, 'productos': {'Ahorros': {'num_cuenta': '7790', 'Ahorros': 3500.7}, 'Tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'creditopreferente', 'limite': 250000.8}, {'tipo': 'lite', 'limite': 15000.5}]}, 'direccion': {'calle': 'av.central', 'numero': 14, 'colonia': 'impulsora', 'delegacion': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'Edomex', 'nombre': 'Estado de Mexico'}}}
15000.5
ESTADO DE MEXICO
2000.6999999999998

In [ ]:
# Ejercicio con una pelicula
Resplandor ={ "Director":"Stanley Kubrik",
          "Secuelas":{
              "secuela 1" : ["Habitacion 237"],
              "secuela 2" : "Doctor sue√±o"  
          }, 
          "premios":{
              "1981" : "Premio saturn al mejor actor de reparto", 
              "2012" : "Premio saturn a la mejor cpleccion de peliculas en DVD",
          }, 
          "Reparto":{
              "Protagonistas":{
              "Wendy Torrance":"Shelley Duvall",
              "Jack Nicholson": "Jack Torrance",
              "Jack Nicholson": "Jack Torrance",
               }
               }, 
          "Datos":{
                  "Pa√≠s":"Reino Unido",
                  "A√±o": 1980,
                  "Genero": "Drama y Terror",
                  "Idioma": "Ingles",
                  "compa√±ias": {
                      "productora": "	Warner Bros. Pictures y Hawk Films",
                      "Distribuci√≥n":"Warner Bros. Pictures",
                  }
              }
          }
print( Resplandor ) 
print( Resplandor["premios"]["1981"] )

{'Director': 'Stanley Kubrik', 'Secuelas': {'secuela 1': ['Habitacion 237'], 'secuela 2': 'Doctor sue√±o'}, 'premios': {'1981': 'Premio saturn al mejor actor de reparto', '2012': 'Premio saturn a la mejor cpleccion de peliculas en DVD'}, 'Reparto': {'Protagonistas': {'Wendy Torrance': 'Shelley Duvall', 'Jack Nicholson': 'Jack Torrance'}}, 'Datos': {'Pa√≠s': 'Reino Unido', 'A√±o': 1980, 'Genero': 'Drama y Terror', 'Idioma': 'Ingles', 'compa√±ias': {'productora': '\tWarner Bros. Pictures y Hawk Films', 'Distribuci√≥n': 'Warner Bros. Pictures'}}}
Premio saturn al mejor actor de reparto

# Estructura de control de programaci√≥n
 Se puede crear cualquier tipo de algoritmo emplado solamnete 3 estructuras de control:
1. secuencia#
       - La representaci√≥n de la memoria de programa (Arquitectura Vonn Newman)
2. Selecci√≥n :
      - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tmabi√©n permite seleccionar ejecutar un bloque entre un conjunto de opciones.
      En resumen tenemos: Selecci√≥n simple, selecci√≥n con bifurcaci√≥n y selecci√≥n m√∫ltiple
3. Repetici√≥n
     - Este tipo de estructura nos permite automatizar la ejecuci√≥n repetitiva del c√≥digo mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programaci√≥n:
     - Desde...Hasta (estructura for)
     - Haz mientras(estructura while)
     - Haz y luego valida mientras (estructura Do-While)

In [ ]:
# Estructura simple
#Estructura if <condicion> :
#< cuerpo de IF>
# 
edad = int( input("Dame tu edad:") )
print(f"Tecleaste {edad} a√±os")
if edad >= 18 :
   print(" Eres mayor de edad") # tiene que ser con tabulador al inicio de cualquier estruc.
   print("Algo")
print("Otra cosa")
print("Fin del programa")

Dame tu edad:16
Tecleaste 16 a√±os
Otra cosa
Fin del programa

**Nota** Para establecer el cuerpo  de una estructura de control en python se usan los tabuladores a la izq.

En otros lenguejas de programaci√≥n como java, c y c++... se usan las llaves {}
````
int edad =0;
printf("dame tu edad");
scanf("%i", &edad);
if(edad >=18 {
}
printf("fin del programa")
````

In [ ]:
CAL= float( input("Dame tu calificaci√≥n:") )
if CAL > 8 :
   print(" Aprobado") 
print("Fin")

Dame tu calificaci√≥n:8.001
 Aprobado
Fin

In [ ]:
SUE = float( input("Dame tu sueldo:") )
if SUE < 1000 :
  AUM = SUE* 0.15
  NSUE = SUE + AUM
  print(NSUE) 
print("Fin")

Dame tu sueldo:875.50
1006.825
Fin

# Estructura de selecci√≥n con bifurcaci√≥n (if else)

Esta estructura, selecciona una de 2 opcines de ejecuci√≥n, se ejecuta un bloque si la condicion se cumple o se ejecuta otro bloque se la condicion no se cumple(else)
```
if <condition> :
  <bloque de ejecuci√≥n>
else:
    <bloque de ejecuci√≥n alterno>
```

In [6]:
edad = int(input("Dame tu edad:"))
print(f"Tecleaste {edad} a√±os")
if edad >= 18:
   print("Eres mayor de edad, ten tu cheve") 
else:
    print("No eres mayor de edad, ten tu boing")
print("fin del programa")

Dame tu edad:16
Tecleaste 16 a√±os
No eres mayor de edad, ten tu boing
fin del programa

In [ ]:
edad = int(input("Dame tu edad:"))
dinero = int(input("Dame tu cantidad de dinero:"))
print(f"Tecleaste {edad} a√±os")
print(f"Tecleaste {dinero} pesos")
if edad >= 18:
   print("Eres mayor de edad") 
else:
    print("No eres mayor de edad")
if dinero >= 36:
   print("Tienes dinero suficiente, ten tu cheve") 
else:
    print("No no tienes suficiente, compra otra cosa")
print("fin del programa")
# elif para acortar o simplificar

Dame tu edad:18
Dame tu cantidad de dinero:50
Tecleaste 18 a√±os
Tecleaste 50 a√±os
Eres mayor de edad
Tienes dinero suficiente, ten tu cheve
fin del programa

In [14]:
edad = int(input("Dame tu edad:"))
dinero = int(input("Dame tu cantidad de dinero:"))
print(f"Tecleaste {edad} a√±os")
print(f"Tecleaste {dinero} pesos")
if edad >= 18:
   if dinero >= 36:
        print("Tienes dinero suficiente y eres mayor de edad, ten tu cheve") 
   else:
        print("No tienes suficiente dinero") #anidar estructuras
else:
    print("Eres menor de edad, compra otra cosa")
print("fin del programa")

Dame tu edad:19
Dame tu cantidad de dinero:70
Tecleaste 19 a√±os
Tecleaste 70 pesos
Tienes dinero suficiente y eres mayor de edad, ten tu cheve
fin del programa

In [15]:
edad = int(input("Dame tu edad: "))
dinero = float(input("Cuanto dinero tienes: "))
print(f"Tecleaste {edad} a√±os")
print(f"Tecleaste {dinero} dinero")
if edad >= 18 :
    if dinero >=36 :
        print("Ten tu cheve")
    else:
        print("tienes la edad pero no tienes dinero suficiente")
elif dinero >= 36 :
    print("Tienes dinero suficiente pero no tienes la edad")
else:
    print("No tienes la edad ni el dinero, ve a jugar roblox a tu casa")
    # elif para acortar o simplificar

Dame tu edad: 19
Cuanto dinero tienes: 50
Tecleaste 19 a√±os
Tecleaste 50.0 dinero
Ten tu cheve

In [17]:
CAL = float(input("Dame tu calificaci√≥n: "))
print(f"Tecleaste {CAL} de calificaci√≥n ")
if CAL >= 8 :
    print("Aprobado")
else:
        print("Reprobado")
print("fin del programa")

Dame tu calificaci√≥n: 9
Tecleaste 9.0
Aprobado
fin del programa

In [28]:
SUE = float(input("Dame tu sueldo: ")) #EJERCICIO 
print(f"Tecleaste {SUE} en pesos ")
if SUE < 1000 :
     AUM = SUE* 0.15
     NSUE = SUE + AUM
     print(NSUE)
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
    print(NSUE)
print("fin del programa")

Dame tu sueldo: 1000
Tecleaste 1000.0 en pesos
1120.0
fin del programa

# Ejercicio if-else

Hacer un programa que solicite el d√≠a de l semana en un valor numerico del 1-7 (avisatle al usuario si proporciono un valor fuera del rango).
imprimira el dia de la semana correspondiente al numero capturado

In [37]:
Dia = float(input("Dame el d√≠a dentro de la semana: ")) #EJERCICIO 
print(f"Tecleaste {Dia} ")
if Dia ==1 :
     print("Hoy es lunes")
elif Dia == 2:
    print("Hoy es Martes")
elif Dia == 3:
    print("Hoy es Miercoles")
elif Dia == 4:
    print("Hoy es Jueves")
elif Dia == 5:
    print("Hoy es viernes")
elif Dia == 6:
    print("Hoy es Sabado")
elif Dia == 7:
    print("Hoy es Domingo")
else:
    print("Sintaxis error, el numero no esta dentro del 1 y 7")

Dame el d√≠a dentro de la semana: 15
Tecleaste 15.0
Sintaxis error, el numero no esta dentro del 1 y 7

In [35]:
dia=int(input("Dame el d√≠a de la semana del 1-7: "))
if dia is 1:
    print("LUNES")
elif dia is 2:
    print("MARTES")
elif dia is 3:
    print("MIERCOLES")
elif dia is 4:
    print("JUEVES")
elif dia is 5:
    print("VIERNES")
elif dia is 6:
    print("S√ÅBADO")
elif dia is 7:
    print("DOMINGO")
else:
    print("Debe ser un numero del 1 al 7, ingresa nuevamente")

Dame el d√≠a de la semana del 1-7: 7
DOMINGO

In [43]:
dia = int(input("Ingresa un numero entre el 1 y 7: "))
print(f"capturaste el numero: { dia }")

if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia == 2:
            print("Martes")
        else: 
            if dia == 3:
                print("Miercoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                     if dia == 5:
                         print("Viernes")
                     else:
                         if dia == 6:
                             print("Sabado")
                         else:
                                 print("Domingo")     
                    
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre el 1 y 7: -1
capturaste el numero: -1
Ese numero no esta dentro del rango solicitado

# Selecci√≥n multiple (switch)
En python no existe la estrcutura de seleccion switch, en su lugar se emplea la palabra reservada : elif

Por ejemplo en el lenguaje c y java seria de la forma:
```

```

In [45]:
# Ejemplo
NUM = int(input("Dame un valor entre 1 y 3: "))
V = float(input("Dame un valor decimal: "))
VAL = 0
if NUM == 1: 
    VAL = 100 * V
elif NUM == 2:
    VAL = 100 ** V
elif NUM == 3:
    VAL = 100/V
else:
    VAL = 0
print(VAL)

Dame un valor entre 1 y 3: 2
Dame un valor decimal: 16.5
1e+33